/* Profile Options CSS */

.sessions-table {
	margin-top: 20px;
	width: 400px;
}
.sessions-table,
.sessions-table td,
.sessions-table th {
	border: 1px solid #222;
}
.sessions-table td,
.sessions-table th {
	padding: 2px;
}
